<!--<h1>Admin::Items#show</h1>-->
<!--<p>Find me in app/views/admin/items/show.html.erb</p>-->
<h2>商品詳細</h2>

<!--items_controllerで定義した@itemに、画像表示のget_item_imageと以下表示させたいカラムを渡す-->
<%= image_tag @item.get_item_image %>
<p>商品名 <%= @item.name %></p>
<P>商品説明 <%= @item.introduction %></P>
<p>税込み価格 <%= @item.price %> 円</p>