<div class="container pt-3">
  <div class="row mt-3">
    <div class="mx-auto">
      <h1>About</h1>
    </div>
  </div>
  <div class="row mt-4">
    <div class="mx-auto">
      <div class="text-center">ながのCAKEは全国発送可能なケーキ屋さんです。</div>
      <div class="text-center">お子様からお年寄りの方までお召し上がりいただけるよう、</div>
      <div class="text-center">様々なバリエーションをご用意しております。</div>
      <div class="text-center">また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</div>
      <div class="text-center">ぜひご注文ください。</div>
    </div>
    <!--<p>ながのCAKEは全国発送可能なケーキ屋さんです。</p>-->
    <!--<p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>-->
    <!--<p>様々なバリエーションをご用意しております。</p>-->
    <!--<p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>-->
    <!--<p>ぜひご注文ください。</p>-->
    <div class="row mx-auto mt-3">
      <div>
        <%= image_tag "resize-cake-header" %>
      </div>
    </div>
  </div>
</div>