<!--<h1>Public::Items#show</h1>-->
<!--<p>Find me in app/views/public/items/show.html.erb</p>-->
<%= image_tag @item.get_item_image(500, 500) %>
<h2><%= @item.name %></h2>
<p><%= @item.introduction %></p>
<p>￥<%= @item.get_tax_in_price %>(税込み)</p>
<!--%= link_to "カートに入れる",  %>-->